<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.CourseMapper">
    <resultMap id="CourseMapper" type="com.tencent.wxcloudrun.model.Course">
        <result property="course_Id" column="course_Id"/>
        <result property="course_Name" column="course_Name"/>
        <result property="teacher_Id" column="teacher_Id"/>
    </resultMap>

    <insert id="insert" parameterType="com.tencent.wxcloudrun.model.Course">
        INSERT INTO Course (`Course_Id`, `Course_Name`, `Teacher_Id`) VALUES (#{course_Id}, #{course_Name}, #{teacher_Id});
    </insert>

    <delete id="delete" parameterType="com.tencent.wxcloudrun.model.Course">
        DELETE FROM Course WHERE `Course_Id` =#{course_Id};
    </delete>

    <select id="select" resultMap="CourseMapper" parameterType="com.tencent.wxcloudrun.model.Course">
        SELECT * FROM Course;
    </select>
</mapper>