<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.SchedulesMapper">
    <resultMap id="SchedulesMapper" type="com.tencent.wxcloudrun.model.Schedules">
        <result property="course_Id" column="Course_Id"/>
        <result property="course_Date" column="Course_Date"/>
    </resultMap>

    <insert id="insert" parameterType="com.tencent.wxcloudrun.model.Schedules">
        INSERT INTO Schedules (`Course_Id`, `Course_Date`) VALUES (#{course_Id}, #{course_Date});
    </insert>

    <delete id="delete" parameterType="com.tencent.wxcloudrun.model.Schedules">
        DELETE FROM Schedules WHERE `Course_Id` =#{course_Id} AND `Course_Data` = #{course_Date};
    </delete>

    <select id="select" resultMap="SchedulesMapper" parameterType="com.tencent.wxcloudrun.model.Schedules">
        SELECT * FROM Schedules WHERE `Course_Id` = #{course_Id};
    </select>
</mapper>